@use "sass:math";
@use "sass:string";

// n is number of stars required
@function multiple-box-shadow ($n) {
  $value: '#{math.random() * 300}vw #{math.random() * 100}vh #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{math.random() * 300}vw #{math.random() * 100}vh #FFF';
  }
  @return string.unquote($value);
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(300);
$shadows-big:    multiple-box-shadow(80);

.header {
  background: radial-gradient(circle at 80% 50%, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
}

#stars {
  position: absolute;
  inset: 0;
  pointer-events: none;

  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 1000s linear infinite;
  will-change: transform;

  &:after {
    content: " ";
    position: absolute;
    left: 100vw;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  position: absolute;
  inset: 0;
  pointer-events: none;

  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 600s linear infinite;
  will-change: transform;

  &:after {
    content: " ";
    position: absolute;
    left: 100vw;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  position: absolute;
  inset: 0;
  pointer-events: none;

  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 300s linear infinite;
  will-change: transform;

  &:after {
    content: " ";
    position: absolute;
    left: 100vw;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

// ... existing code ...
@keyframes animStar {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}